@{
    ViewData["Title"] = "Quản lý Comments";
}
<style>
    .centered option {
        text-align: center;
    }

    .selection span {
        height: 35px !important;
    }

    .ClientInput_Arrow {
        display: none !important;
    }
</style>
<div class="bg-serach-main" style="width:100%,margin:0px">
    <div class="row">
        <div class="form-group mb10 mr-2">
            <div class="datepicker-wrap" style="width:100%">
                <input class="form-control date text-left filter_date_daterangepicker" id="fromDate" type="text" name="datetimeOrder"
                       placeholder="Ngày tạo" />
            </div>
        </div>
        <button type="button" class="btn btn-default bg-main mb10" style="margin-left:10px" onclick="_comment.SearchData()">
            <svg class="icon-svg" style="vertical-align: sub;">
                <use xlink:href="/images/icons/icon.svg#search"></use>
            </svg>
            Tìm kiếm
        </button>
    </div>
    <div id="Comment-content">

    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/js/zebra_datepicker.min.js"></script>
    <script type="text/javascript" src="~/modules/comment.js" asp-append-version="true"></script>
}